:root {
  --fundo-padrao: rgba(0, 0, 0, 0.3);
  --padrao: rgb(20, 20, 20);
  --fundo-padrao-reverso: rgb(200, 200, 200);
  --padrao-reverso: rgb(190, 190, 190);
  --cor: purple;
  --sombra: none;
}

* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  outline: none;
}

html,
body {
  height: 100vh;
  width: 100vw;
  background-color: rgb(34, 34, 34);
}

main {
  height: 93%;
  width: 100%;
  display: grid;
  place-content: center;
}
main #widget {
  height: 300px;
  width: 500px;
  padding: 1em;
  background-color: var(--fundo-padrao);
  border-radius: 15px;
  box-shadow: var(--sombra);
}
main #widget #topo {
  height: 10%;
  width: 100%;
  display: flex;
  gap: 0;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
main #widget #topo #botoes,
main #widget #topo #icons {
  display: flex;
  gap: 0;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  color: var(--padrao-reverso);
  gap: 1em;
}
main #widget #topo #botoes {
  justify-content: left;
}
main #widget #topo #botoes .quantia,
main #widget #topo #botoes .reset {
  filter: saturate(120%);
  background-color: var(--cor);
  border-radius: 5px;
  display: flex;
  gap: 0;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
main #widget #topo #botoes .quantia {
  height: 100%;
  width: 50%;
}
main #widget #topo #botoes .reset {
  height: 100%;
  width: 25%;
  transition-duration: 0.2s;
}
main #widget #topo #botoes .reset:hover {
  transform: translateY(-10%);
}
main #widget #topo #icons {
  font-size: 1.8em;
  justify-content: right;
  align-items: center;
}
main #widget #topo #icons .icon {
  border-radius: 50%;
  padding: 0.1em;
  transition-duration: 0.2s;
}
main #widget #valores {
  margin: 1.5em 0px;
  height: 50%;
  width: 100%;
  display: flex;
  gap: 0;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
main #widget #valores .valor {
  height: 100%;
  width: 20%;
  display: flex;
  gap: 0;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
main #widget #valores .valor > div {
  border-radius: 10px;
  width: 90%;
  display: flex;
  gap: 0;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
main #widget #valores .valor .mais,
main #widget #valores .valor .menos {
  height: 25%;
  background-color: var(--cor);
  /* transition-duration: .1s; */
}
main #widget #valores .valor .icon {
  color: var(--padrao-reverso);
  font-size: 1.8em;
}
main #widget #valores .valor #valor {
  height: 45%;
  background-color: var(--fundo-padrao);
  color: var(--padrao-reverso);
  border: 1px solid var(--padrao-reverso);
}
main #widget #moedas {
  height: 20%;
  width: 100%;
  margin: 1em 0px;
  display: flex;
  gap: 0;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
main #widget #moedas .moeda {
  height: 100%;
  width: 30%;
  background-color: var(--padrao);
  color: var(--padrao-reverso);
  font-size: 1.2em;
  font-weight: 600;
  border-radius: 10px;
  border: 3px solid var(--cor);
  display: flex;
  gap: 0;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
main #widget #moedas .moeda:hover {
  filter: brightness(170%);
}/*# sourceMappingURL=main.css.map */